<template name="App_body">

    {{> navbar}}
      {{#if authInProcess}}
        {{>loading}}
      {{else}}
          {{>Template.dynamic template=content}}
      {{/if}}
      <div class="ui inverted vertical footer segment sticky-footer">
          <div class="ui center aligned container">
            <div class="ui horizontal inverted small divided link list">
              <a class="item" href="http://www.integralit.cl">Made with ❤ by Integral IT</a>
            </div>
          </div>
        </div>
</template>
